@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200&display=swap');

body {
    background-color: rgb(226, 216, 216);
    margin: 0;
    
}
.background{
    background-image:url("/upwk62049834-wikimedia-image-job572-1.jpg");
    background-size: 1500px ;
    
}

h3 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
    text-align: center;
    color: pink;
}
h1 {
    font-family: 'Righteous', cursive;
    background-image: url("/upwk62049834-wikimedia-image-job572-1.jpg");
    font-size: xx-large;
    text-align: center;
    padding: 1em;
    color: white;
    background-size: 1500px;
}

p {
    font-family: 'Mukta Malar', sans-serif;
    text-align: center;
}
h2 {
    text-align: center;
}
.searcher {
    text-align: center;
}
li {
    display: inline;
    margin: 0;
    padding-inline: 40px;
}
header {
    text-align: center;
}
.background a{
    color: black;
}
input[type=button] {
    background-color: orange;
    border-radius: 1em;
    cursor: pointer;
    font-size: large;
    font-family: 'Mukta Malar', sans-serif;
}

input[type=button] :hover {
        background-color:orangered;
        font-weight: normal;
        
}
.searcher {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.3);
}